# Run pip install --requirement=requirements.txt to install all requirements

click
pytest
environs
redis
git+https://github.com/lorne-luo/falcon.git
git+https://github.com/lorne-luo/hulk.git
git+https://github.com/lorne-luo/JARVIS.git
